.topnavandlogo {
    width: 100%;
}

#wrapper {
    padding: 10px;
    nav {
        display: flex;
        width: 100%;
    }
}

#wrapper nav li {
    display: inline-block;
    margin: 20px 10px 20px 10px;
    background: pink;
}

.logo {
    height: 100px;
    width: 200px;
    background: pink;
    margin-top: 10;
    display: inline-flex;
}

.header {
    display: flex; 
        .containerForHeaderImage {
            
        }
}

h1 {
    size: 40px;
    color: blue;
}
